# hold back: https://github.com/kevlened/pytest-parallel/issues/118
pytest<7.2

parameterized
pytest-parallel # TODO: deprecated. migrate to pytest-xdist
jinja2-simple-tags
pylint
mypy
pytest-cov
coveralls>=3.0.0
types-setuptools
